:root {
    --main-font-color: #2e2f42;
    --second-color: #4d5ae5;
    --body-font-color: #434455;
}
body {
    font-family: 'Roboto', sans-serif;
    color: var(--body-font-color);
    background: #fff;
    font-size: 16px;
    line-height: 1.5;
}
header {
    border-bottom: 1px solid #E7E9FC;
}
.container {
    width: 100%;
    max-width: 1158px;
    margin: 0 auto;
}
.site-logotype {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--second-color);
}
.studio {
    color: var(--main-font-color);
}
.address-menu {
    font-style: normal;
}
.address-link {
    letter-spacing: 0.02em;
}
.menu-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-font-color);
}
.menu-link:hover,  
.menu-link:focus,
.link:hover,
.link:focus {
    color: #404bbf;
}
.link {
    text-decoration: none;
}
.list {
    list-style: none;
}
.footer {
    background-color: var(--main-font-color);
}
.footer > .container > a > span {
    color: #f4f4fd;
}
.footer p {
    color: #F4F4FD;
    letter-spacing: 0.02em;
}
button {
    cursor: pointer;
    border: none;
    line-height: 1.5;
    font-size: 16px;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
    color: inherit;
}
/* Index page */
.top-banner {
    background: #2E2F42;
    text-align: center;
    padding: 188px 0;
    margin-bottom: 120px;
}
.banner-title {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin: 0 0 48px;
}
.banner-btn {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    letter-spacing: 0.04em;
    color: #ffffff;
    background: var(--second-color);
    padding: 16px 32px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}
.flex-box {
    display: inline-flex;
}
.flex-box > li {
    margin: 0 24px 0 0;
}
.main-h {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--main-font-color);
    margin: 0;
}
.main-p {
    letter-spacing: 0.02em;
    margin: 8px 0 0 0;
}
.main-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--main-font-color);
    width: 100%;
    margin: 120px 0 72px;
}
.our-team {
    background: #F4F4FD;
    display: flex;
    flex-wrap: wrap;
}
.our-team > ul > li {
    background: #fff;
    text-align: center;
}
/* Index page css end*/

/* Profile page */
.button-filter-list {
    margin: 96px 0 72px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.button-filter-list > li > .btn-filter {
    color: #4D5AE5;
    background: #F4F4FD;
    padding: 12px 24px;
    font-weight: 500;
    text-align: center;
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    margin-right: 24px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
}
.button-filter-list > li > .btn-filter:hover,
.button-filter-list > li > .btn-filter:focus {
    background: #404BBF;
    color: #fff;
}
p {
    color: #434455;
}
.work-list-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--main-font-color);
}
.work-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.work-list > a {
    border: 1px solid #E7E9FC;
    margin-right: 24px;
    margin-bottom: 48px;
    padding-bottom: 32px;
}
.work-list > li > a > img {
    margin-bottom: 32px;
}
.work-list > li > a > .work-list-p {
    margin: 0;
    padding-left: 16px;
}
.work-list > li > a > .work-list-title {
    margin: 0 0 8px 0;
    padding-left: 16px;
}
.work-list-p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
/* Profile page css end */